                html { height: 100%; }
                body { height: 100%;font-family:Verdana,sans-serif, Arial;color:#000;margin: 0; font-size:14px; padding: 0; }
                #map{
                    position: absolute;
                    left: 312px; top: 46px; 
                    right: 2px; bottom: 2px; 
                    border: 1px solid #cccccc; }
                #result {
                    position: absolute;
                    left: 2px; top: 46px;
                    width: 306px;
                    bottom: 2px; 
                    border: 1px solid #cccccc;
                    background-color: #FAFAFA;
                    overflow: auto;
                }
                button{
                    width: 220px;font-family:Verdana,sans-serif, Arial;font-size:12px;padding:2px 0;color:#333
                }     
                .top-div{
                    border-bottom: 1px solid #e9e9e9;padding:10px 12px;background:#fff;

                }
                .top-div-span1{
                    font-size: 20px;
                }
                .top-div-span2{
                    font-size:16px;color:#777
                }
                .btn-div{
                    padding: 16px 12px 6px 38px;
                }
                .msg-cont{
                    padding:6px 12px 1px; border-bottom:1px solid #e9e9e9;
                }
                .msg-list{
                    line-height: 20px; font-size: 12px; color: #555;
                }
                .event-header{
                    padding:14px 12px 6px 38px;color: #666;
                }
                #event-log{
                    padding:6px 12px 6px 38px;color: #777; font-size: 12px; line-height: 22px;
                }
               
           